html {
  font-size: 16px;
  font-family: 'Helvetica';
}

fieldset, .form-group {
  border: 0;
  margin: 0;
  padding: 0;
  margin-bottom: 1rem;
}

legend {
  margin-bottom: 0.5rem;
}

.text-input:focus,
.dropdown:focus,
.radio:focus,
.checkbox:focus {
  border-color: #fd5158;
  outline: none;
}

.text-input {
  font-size: inherit;
  line-height: 1;
  border: 0.125rem solid #808080;
  padding: 0.5em;
}

.dropdown {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: inline-block;
  font-size: inherit;
  line-height: 1;
  border: 0.125rem solid #808080;
  border-radius: 0;
  padding: 0.5em 2em 0.5em 0.5em;
  vertical-align: middle;

  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 1000"><path d="M64.8 554.8l102.8-102.9 259.7 259.8V10h145.4v701.7l259.7-259.8 102.8 102.9L500.1 990 64.8 554.8z"/></svg>');
  background-repeat: no-repeat;
  background-position: calc(100% - 0.5em) 50%;
  background-size: 0.9em;
  background-color: transparent;
}

.radio,
.checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: inline-block;
  border: 0.125rem solid #808080;
  margin: 0;
  width: 2rem;
  height: 2rem;

  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  vertical-align: middle;
}

.radio {
  border-radius: 50%;
}

.radio:checked {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="9" height="9"><circle cx="4.5" cy="4.5" r="2.5"/></svg>');
}

.checkbox:checked {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" height="1024" width="640"><path d="M640 320L512 192 320 384 128 192 0 320l192 192L0 704l128 128 192-192 192 192 128-128-192-192 192-192z"/></svg>');
}

.checkbox + label,
.radio + label {
  vertical-align: middle;
  margin-right: 1rem;
}
