/*
  Icons from simpleicon
  http://simpleicon.com/license-agreement/
*/

html {
  font-size: 16px;
  font-family: 'Helvetica';
}

.icon {
  display: inline-block;
  height: 2rem;
  width: 2rem;

  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-color: transparent;
}

.icon--small {
  height: 1rem;
  width: 1rem;
}

.icon--large {
  height: 3rem;
  width: 3rem;

}

.icon--lock {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="512" height="512" viewBox="0 0 512 512"><path d="M96 246.094V160C96 71.625 167.64 0 256 0c88.375 0 160 71.625 160 160v86.094c-16.375-24.656-38.344-45.22-64-60.125V160c0-52.938-43.063-96-96-96s-96 43.063-96 96v25.97c-25.672 14.905-47.625 35.468-64 60.124zM416 352c0 88.375-71.625 160-160 160-88.36 0-160-71.625-160-160s71.64-160 160-160c88.375 0 160 71.625 160 160zm-128-32c0-17.688-14.328-32-32-32s-32 14.313-32 32c0 11.72 6.61 21.53 16 27.094V400c0 8.844 7.156 16 16 16s16-7.156 16-16v-52.906c9.39-5.563 16-15.375 16-27.094z"/></svg>');
}

.icon--woman {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="512" height="512" viewBox="0 0 512 512"><path d="M236.656 254.047C192.938 245.094 160 206.407 160 160c0-35.14 19.094-65.53 47.25-82.266 8.97 19.328 27.28 39.078 52.5 53.656 33.063 19.078 68.125 23.78 90.875 14.672.688 4.594 1.375 9.157 1.375 13.938 0 46.406-32.875 85.094-76.625 94.047C336.813 244.657 384 192.063 384 128 384 57.313 326.688 0 256 0c-70.656 0-128 57.313-128 128 0 64.063 47.25 116.656 108.656 126.047zM352 288h-16c0 44.188-35.813 80-80 80s-80-35.813-80-80h-16c-53 0-96 42.97-96 96v96c0 17.688 14.313 32 32 32h320c17.688 0 32-14.313 32-32v-96c0-53.03-42.937-96-96-96z"/></svg>');
}

.icon--man {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="512" height="512" viewBox="0 0 512 512"><path d="M256 256c61.875 0 112-57.313 112-128S317.875 0 256 0c-61.844 0-112 57.313-112 128s50.156 128 112 128zm0-32c-17.688 0-32-14.328-32-32h64c0 17.672-14.312 32-32 32zm-74.937-107.187c16.344 12.188 48.063 7.72 76-12.03 14.063-9.907 24.53-21.97 31-34.017C316.25 83.126 336 111.22 336 144c0 15.844-4.75 30.5-12.688 42.922L256 160l-67.313 26.922C180.75 174.5 176 159.844 176 144c0-9.594 2-18.672 5.063-27.187zM384 288h-64l-64 96-64-96h-64c-35.313 0-64 28.656-64 64v128c0 17.688 14.344 32 32 32h320c17.688 0 32-14.313 32-32V352c0-35.344-28.625-64-64-64z"/></svg>');
}

.icon--home {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="512" height="512" viewBox="0 0 512 512"><path d="M502.618 233.375l-54.625-54.625V32h-64v82.75L278.618 9.375c-12.5-12.5-32.75-12.5-45.25 0l-224 224C.212 242.53-2.507 256.28 2.43 268.25 7.368 280.188 19.056 288 31.993 288h32l64 224h256l64-224h32c12.938 0 24.625-7.813 29.563-19.75 4.968-11.97 2.218-25.72-6.938-34.875zM255.993 448c-44.188 0-80-35.813-80-80s35.813-80 80-80c44.22 0 80 35.813 80 80s-35.78 80-80 80z"/></svg>');
}
